<div class="top-left-button mt-5 ml-2 mb-5">
  <%= link_to "Add a yoga position", new_yoga_position_path, class: "btn btn-flat" %>
</div>

<section class="hero-section">
  <div class="card-grid">
    <% @yoga_positions.each do |yoga_position| %>
    <div class="card-all" >
      <div><%= link_to yoga_position_path(yoga_position) do %><%= cl_image_tag yoga_position.photo.key, class:"card__background", width:282, height:250 %></div><% end %>
      <div class="card__content">
        <p class="card__category"><%= link_to yoga_position_path(yoga_position) do %><%= yoga_position.duration %> seconds</p><% end %>
        <p class="card__heading"><%= link_to yoga_position_path(yoga_position) do %><%= yoga_position.name %></p><% end %>
      </div>
    </div>
    <% end %>
    </div>
    </section>

