<div class="top-left-button mt-5 ml-5 mb-5 mr-5">
<%= link_to 'Back', :back, class: "btn btn-flat" %>
</div>
<div class="container mt-4">
  <h1> Create a new yoga position!</h1>
  <%= simple_form_for (@yoga_position) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :duration, label:"Duration in seconds" %>
    <%= f.input :good_for %>
    <%= f.input :photo, as: :file, class:"btn btn-flat" %>
    <br>
    <%= f.submit "Submit yoga position", class:"btn btn-flat" %>
  <% end %>
</div>
