<div class="top-left-button mt-5 ml-5 mb-5 mr-5">
<%= link_to 'Back', :back, class: "btn btn-flat" %>
</div>
<div class="container mt-4">
  <h1 class="text-center"> Edit your lesson plan!</h1>
  <%= simple_form_for (@lesson_plan) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :duration, label: "Duration in minutes" %>
  <br>
  <%= f.submit "Submit lesson plan", class:"btn btn-flat" %>
  <% end %>
</div>
