<div class="container mt-4">
  <h1 class="text-center"> Create a new lesson plan!</h1>
  <%= simple_form_for (@lesson_plan) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :duration, label: "Duration in minutes" %>
  <br>
  <%= f.submit "Submit lesson plan", class:"btn btn-flat" %>
  <% end %>
</div>
