<div class="text-center lesson-plan-top">
  <div>
    <h1 class="mt-3 title-center"><%= @lesson_plan.title %></h1>
  </div>
  <div>
    <h5 class="mt-3 duration-right-corner"><%= @lesson_plan.duration %> minutes<i class="fas fa-hourglass-end ml-2"></i></h5>
  </div>
  <em><h4><%= @lesson_plan.description %></h4></em>
</div>
<br>
<h4 class="text-center">yoga position</h4>
  <section class="hero-section">
    <div class="card-grid">
      <% @lesson_plan.lesson_positions.each do |lesson_plan| %>
      <div class="card-all" >
        <div><%= link_to yoga_position_path(lesson_plan.yoga_position) do %><%= cl_image_tag lesson_plan.yoga_position.photo.key, class:"card__background", width:282, height:250 %></div><% end %>
        <div class="card__content">
          <p class="card__category"><%= link_to yoga_position_path(lesson_plan.yoga_position) do %><%= lesson_plan.yoga_position.duration %> seconds</p><% end %>
          <h3 class="card__heading"><%= link_to yoga_position_path(lesson_plan.yoga_position) do %><%= lesson_plan.yoga_position.description %></h3><% end %>
        </div>
      </div>
        <% end %>
      </div>
    </section>
    <%= link_to "Add a yoga position",  new_lesson_plan_lesson_position_path(@lesson_plan), class: "btn btn-flat" %>

